/* CSS Document */

body {
	background-color:#3f2c28;
	padding:0;
	margin:0;
}

#mainContainer {
	background-repeat:repeat-x;
	background-color:#2D2825;
	padding:0;
	margin:0;
}

#pageContainer {
	width:1200px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000000;
	padding:0;
	margin:0;
	line-height:18px;
	position:relative;
}

#logoLink {
	position:absolute;
	top:0;
	left:0;
	z-index:5;
	cursor:pointer;
	display:block;
}

#logoImg {
	display:block;
	width: 616px;
	height: 201px;
}

#navButtons {
	position:absolute;
	top:15px;
	right:15px;
	display:flex;
	gap:6px;
	z-index:10;
}

.navButton {
	border:none;
	cursor:pointer;
	transition:none;
}

#Map_btn {
	position:absolute;
	top:707px;
	right:0px;
}


#MainHeader {
	background-image:url(images/header_TFGrub.jpg);
	background-repeat:no-repeat;
	background-color:#D9D9D9;
	width:1200px;
/*	height:1200px; */
	margin:0;
	padding:0;
}

#MainText {
	width:1100px;
	padding-left:12px;
	font-size:24px;
	line-height:30px;
}

#MainTextStandalone {
	padding-top:590px;
	width:1100px;
	padding-left:12px;
	font-size:24px;
	line-height:30px;
}

#MainText_Title {
	padding-top:550px;
	padding-bottom:12px;
	width:1100px;
	font-size:48px;
	line-height:30px;
}

#MainText_TitleStandalone {
	padding-top:24px;
	padding-bottom:12px;
	width:1100px;
	font-size:48px;
	line-height:30px;
}

#screenshotsCarousel {
	display:flex;
	align-items:center;
	justify-content:center;
	gap:20px;
	padding:20px 0;
	width:1100px;
}

.screenshotImage {
	max-width:700px;
	max-height:500px;
	border:3px solid #333;
}

.carouselArrow {
	background-color:#444444;
	color:#ffffff;
	border:none;
	padding:15px 20px;
	font-size:32px;
	cursor:pointer;
	border-radius:5px;
	transition:background-color 0.3s ease;
}

.carouselArrow:hover {
	background-color:#666666;
}

a.textLink {
	text-decoration:none;
	color:#000000;
	font-weight:bold;
}

a.textLink:hover {
	color:#993333;
}

.desc {
	float:right;
	width:300px;
}

.bold {
	font-weight:bold;
}

#achievementDL {
	height:36px;
	background-image:url(https://www.teamfortress.com/pyro/images/achievement_dl_bg.jpg)	
}

#achievementDL a {
	font-weight:bold;
	color:#000000;
}

#achievementDL a:hover {
	color:#993333;
}

.achievementsEnd {
	margin:0;
	padding:0px;
}

#DLLeft {
	padding-top:2px;
	width:236px;
	text-align:right;
}

#DLRight {
	padding-top:10px;
	width:572px;
	float:right;
	text-align:left;
}

#prefooter {
	background-image:url(https://www.teamfortress.com/pyro/images/default_bg.jpg);
	background-repeat:repeat-y;
	height:70px;
	margin:0;
	padding:0;
	padding-top:10px;
	text-align:center;
}

#footer {
	background-image:url(images/footerBG.jpg);
	height:70px;
}

#footerLogo {
	padding-left:20px;
	width:111px;
}

#copyright {
	float:right;
	color:#a3a3a3;
	font-size:15px;
	text-align:center;
	width:660px;
	padding-right:270px;
	padding-top:8px;
	line-height:normal;
}
.sec_break {
	margin:0;
	padding:0;
}

#button {
	padding-top:96px;
	padding-left:16px;
}
